
<!DOCTYPE html>

<html>
<%- include('../head')%>

<body onload="popLoader()">
<%- include('../header.ejs')%>
	<div class="mainContent">
Blog1 Blog would be here.
<%- include('../menu.ejs')%>
<%- include('../views/forms/blogs.ejs')%>


<!--check the blog filepath!!  -->
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
