<!DOCTYPE html>


<html>
<%- include('../partials/head')%>
<body onload="popLoader()">

	<%- include('../partials/header.ejs')%>
<%- include('../forms/sandbox.ejs')%>
<%- include('../partials/menu.ejs')%>
<%- include('../partials/button.ejs')%>

<div>
<%- include('../partials/sandbox/aftereffects.ejs')%>
</div>


	<%- include('../partials/footer.ejs')%>

<script src="jsFiles/menu.js"></script>
<script src="jsFiles/spinner.js"></script>
</body>
</html>
