<!DOCTYPE html>

<!--******** WELCOME TO MY FIRST FULLY CODED PROJECT. THIS WILL BE A LIVING DOCUMENT, SO THIS MAY BREAK, BUT i HOPE TO EDIT AND DEBUG FULLY BEFORE I UPLOAD TO THE SERVER.
I named all of my IDs and Classes just gooofy ilke. It really helped me attach in my mind how all three languages talk to each other. (UPDATE) I HAVE FULLY REFINED MY CLASSES AND IDS SINCE LEARNING A BIT OF JS. THEY ARE EASIER TO UNDERSTAND AS MY PROJECT GROWS.


 What I've prepared really help me attach how all three languages speak to each other. I doubt my abilities everyday. It keeps me wanting to know more, and contiunue to connect with jQuery, php, and then really dig into front and backend security. These are my desired paths of self education. I have yet to really grasp the full form of javascript. I really am just beginning to tackle the DOM.

 IF YOU ARE VIEWING THIS, THANK YOU FOR TAKING INTEREST. ANY CODE APPLIED WITHIN IS SOMETHING I HAVE STUDIED AND FULLY UNDERSTAND HOW AND WHY IT WORKS. FEEL FREE TO USE WHAT YOU WANT, AND IF I HAVE A COMMENTS THREAD ONE DAY, PLEASE SAY HI AND GIVE ME SUGGESTIONS. i HAVE BEEN PRACTICING HTML, CSS, AND JAVASCRIPT SINCE JULY 2020. CHEERS! -SCOTT WALLACE SNORYDER8019@GMAIL.COM******-->
<html>
<%- include('../partials/head')%>

<body onload="popLoader()">
<%- include('../partials/header.ejs')%>
	<div class="mainContent">

<%- include('../partials/menu.ejs')%>
<%- include('../forms/blogs.ejs')%>
BLOG PARENT0
<!--check the blog filepath!!  -->
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
