<!DOCTYPE html>


<html>
<%- include('../partials/head')%>

<body onload="popLoader()">
<%- include('../partials/header.ejs')%>
	<div class="mainContent">

<%- include('../partials/menu.ejs')%>
<%- include('../forms/blogs.ejs')%>
BLOG PARENT0
<!--check the blog filepath!!  -->
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
