<!DOCTYPE html>
<html>
<%- include('../partials/head')%>
<body onload="popLoader()">

<%- include('../partials/header.ejs')%>
	<div class="mainContent">



<%- include('../forms/contact.ejs')%>
<%- include('../partials/menu.ejs')%>
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
