<!DOCTYPE html>
<html>
<%- include('../partials/head')%>
<body onload="popLoader()">
	<%- include('../partials/loadanimation.ejs')%>
<%- include('../partials/header.ejs')%>
	<div class="mainContent">
		<div class="tweetfeed">
<h3 class ="indexTitle0">Welcome friends, family, and recruiters. This is my portfolio website. It is a work in progress. Thank you for checking me out.</h3>
<span class="logoFont">
<h2 class="indexTitle1">Tap on the spinning globe to begin browsing</h2>
</span>
</div>


<%- include('../partials/menu.ejs')%>
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
