<!DOCTYPE html>


<html>
<%- include('../partials/head')%>

<body onload="popLoader()">
<%- include('../partials/header.ejs')%>
	<div class="mainContent">

<%- include('../partials/menu.ejs')%>
<span class="logoFont">Thank you for the Submission!!</span>
<span class="logoFont"><a href= "/">return home...</a></span>
<%- include('../partials/button.ejs')%>
	<%- include('../partials/footer.ejs')%>
</div>
<script src="jsFiles/menu.js"></script>
</body>
</html>
